# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Debug Symbols
*.dSYM

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# macOS specific
*.DS_Store

# If outputs are sent to bin/obj folders, we should ignore it.
bin/
obj/
